In [1]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, Date

base = declarative_base()

In [3]:
#Use Pandas to read your cleaned measurements and stations CSV data.
clean_station_df = pd.read_csv('clean_hawaii_stations.csv')
clean_measures_df = pd.read_csv('clean_hawaii_measurements.csv')

In [4]:
#Use the engine and connection string to create a database called hawaii.sqlite
engine = create_engine('sqlite:///hawaii.sqlite')
conn = engine.connect()

In [5]:
base = declarative_base()

class Station(base):
    __tablename__='station'
    station = Column(Text, primary_key = True)
    name = Column(Text)
    latitude = Column(Float)
    longtitude = Column(Float)
    elevation = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}"

In [6]:
Station.__table__

Table('station', MetaData(bind=None), Column('station', Text(), table=<station>, primary_key=True, nullable=False), Column('name', Text(), table=<station>), Column('latitude', Float(), table=<station>), Column('longtitude', Float(), table=<station>), Column('elevation', Float(), table=<station>), schema=None)

In [13]:
class measurement(base):
    __tablename__='measurement'    
    station = Column(Text, primary_key = True)
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}"

C:\Users\jwaddell\Anaconda3\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.measurement, and will be replaced in the string-lookup table.
  item.__name__

In [14]:
measurement.__table__

Table('measurement', MetaData(bind=None), Column('station', Text(), table=<measurement>, primary_key=True, nullable=False), Column('date', Date(), table=<measurement>), Column('prcp', Float(), table=<measurement>), Column('tobs', Float(), table=<measurement>), schema=None)

In [15]:
base.metadata.create_all(engine)

In [16]:
# First, let's examine the tables in the db# First,  
tables = engine.execute("SELECT * FROM sqlite_master WHERE TYPE='table'")
for index, table in enumerate(tables):
    table_name = table[1]
    print(f"The #{index} table in the database is called '{table_name}'.")

The #0 table in the database is called 'clean_hawaii_stations'.
The #1 table in the database is called 'station'.
The #2 table in the database is called 'clean_hawaii_measurements'.
The #3 table in the database is called 'measurement'.

In [17]:
conn = engine.connect()